* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0f0f0f;
  color: #fff;
}
h2 {
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: left;
}

h2 span {
  position: relative;
  display: inline-block;
  color: RGB(200, 102, 210);
  overflow: hidden;
  height: 1.25em;
}

h2 span span {
  display: block;
  animation: anim 10s infinite ease;
}

@keyframes anim {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(-100%);
  }
  40% {
    transform: translateY(-200%);
  }
  60% {
    tansform: translateY(-300%);
  }
  80% {
    transform: translateY(-400%);
  }
  100% {
    transform: translateY(0%);
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  font-size: 20px; /* increase or decrease as you like */
  font-weight: 800;
}
h1 {
  font-size: 40px;
  letter-spacing: 0px;
  color: #fff;
}
nav a {
  color: #ccc;
  text-decoration: none;
  margin: 0 15px;
  position: relative;
  font-weight: 500;
}
